* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #005c97, #363795);
  color: lightskyblue;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

label {
  margin: .5rem 0 0 0;
}

img {
  height: 8em;
}

.header {
  font-family: 'Courgette', cursive;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 4px black;
}

.square {
  margin-top: 3rem;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

#temperature {
  cursor: pointer;
}